.hero{
    padding-top: 40px;
}
.hero__block{
    background-repeat:no-repeat;
    background-image: url('../img/hero\ mobile.jpg');
    background-size: cover;
    padding: 100px 20px;
    text-align: center;
    border-radius: 10px;
}
.hero__title{
    font-weight: 900;
    font-size: 40px;
    line-height: 100%;
    text-align: center;
    color: #fefcf7;
    margin-bottom: 24px;
}
.hero__text{
    font-family: var(--second-family);
    font-weight: 400;
    font-size: 15px;
    line-height: 167%;
    color: #fefcf7;
    margin-bottom: 40px;
}
.hero__content{
    max-width: 398px;
}
.hero__button{
    @include btn;
}
@media screen and(min-width:768px) {
    
}